//- template(name='camera')
//-     .camera
//-         video#video Video stream not available.
//-         button.ui.button#startbutton take photo
//-         button.ui.button.take_picture take photo 2
//-     canvas#canvas
//- 
//-     //- .output
//-     //-     img#photo(alt='The screen capture will appear in this box.')
